<html>
	<head>
		<title>Bitly Clone</title>
		<link rel="stylesheet" type="text/css" href="/css/application.css">
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.js"></script>
		<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="/js/application.js"></script> 
	</head>
	<body>
		<header>
			<div = id="header-div">
				<div id="logo">
					BitlyClone
				</div>
				<div id="nav-bar">
					<ul>
						<li><a>TOUR</a></li>
						<li><a>ENTERPRISE</a></li>
						<li><a>RESOURCES</a></li>
						<li><a>BLOG</a></li>
						<li><a>ABOUT</a></li>
					</ul>
				</div>
				<div id="login-signup">
					<a id="login-btn">LOGIN</a>
					<a id="signup-btn">SIGN UP</a>
				</div>
			</div>
		</header>
		<div id="text-form">
			<h1 id="big-text">THE LINK KNOWS ALL. SO CAN YOU.</h1>
			<div id="small-text">
				Measure your links with Bitly, the world's leading link management platform.
			</div>
			<%= yield %>
	</body>
</html>