<html>
	<head>
		<title>Bitly Clone</title>
		<link rel="stylesheet" type="text/css" href="/css/application.css">
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="/js/application.js"></script> 
	</head>
	<body>
		<%= yield %>
	</body>
</html>